<h1>Editing Purchase Order Detail</h1>

<%= render 'form', purchase_order_detail: @purchase_order_detail %>

<%= link_to 'Show', @purchase_order_detail %> |
<%= link_to 'Back', purchase_order_details_path %>
