<% @material_types.each do |material_type| %>
      <tr>
        <td><%= material_type.name %></td>
        <td><%= material_type.description %></td>
        
       <td>
                    <div class="action-buttons">
                    <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_material_type_path(material_type), title: "Modifier", remote: true %>




<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), material_type_delete_path(material_type), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
      </tr>
    <% end %>