<!-- Side Navbar -->
<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo">
	<a href=""><span><%= APP_NAME %></span></a>
</div>
<div class="br-sideleft sideleft-scrollbar">
      <label class="sidebar-label pd-x-10 mg-t-20 op-3">Menu</label>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
        	
			<!-- Show Admin menu -->
			<%= render 'layouts/partials/dashboard/navs/admin-nav' %>
				
			
    	</div>  
</div>
